<h1>New Showing</h1>
<%= form_tag "/showings", method: :post do %>
  <p>Time:</p>
  <div class="form-group">
    <select class="form-control" name="form_time">
      <%= options_for_select("12:00PM".to_datetime.step("11:59PM".to_datetime, (1.to_f/24/4)).collect {|f| [ f.strftime("%I:%M %p") ] }, { include_blank: true }) %>
    </select>
  </div>
  <p>Auditorium/Film/Capacity</p>
  <div class="form-group">
    <select class="form-control" name="form_auditorium">
      <%= options_for_select(Auditorium.all.collect {|f| [ "Auditorium #{f.id}: #{f.film_playing} -- #{f.capacity} seats", f.id ] }, {selected: @auditorium.id}) %>
    </select>
  </div>
  <input type ="submit" value="Create Showing">
<% end %>

<% if @showing.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@showing.errors.count, "error") %> prohibited this showing from being saved:</h2>

    <ul>
      <% @showing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>