<h1>All Auditoriums</h1>
<% @auditoriums.each do |auditorium| %>
  <h2><a href="/auditoriums/<%= auditorium.id %>">Auditorium<%= auditorium.id %></a></h2>
  <h2>Capacity: <%= auditorium.capacity %></h2>
  <p>Film Showing: <%= auditorium.film_playing %></p>
  <p>Showings: <p>
  <% auditorium.showings.each do |showing| %>
    <p><%= showing.time.strftime("%I:%M:%S %p") if showing.time%> <p>
    <p><%= showing.tickets_remaining %> <p>
  <% end %>
<% end %>

<h2><a href="/auditoriums/new">Create New Auditorium</a></h2>
