<h1>Auditorium <%= @auditorium.id %></h1>
<h2>Capacity: <%= @auditorium.capacity %></h2>
<h2>Film Playing: <%= @auditorium.film_playing %></h2>

<p>Showings: <p>
  <% @auditorium.showings.each do |showing| %>
  <p><%= showing.time.strftime("%I:%M:%S %p") if showing.time%> <p>
  <p><%= showing.status %> <p>
  <%= link_to "Purchase Ticket", new_showing_order_url(:showing_id => showing.id) if showing.available?  %>
<% end %>

<h4><a href="/auditoriums/<%=@auditorium.id%>/edit">Edit Auditorium</a></h4>
<%= link_to "Delete Auditorium", "/auditoriums/#{@auditorium.id}", method: :delete %>

<h4><%= link_to "Add a Showing", new_auditorium_showing_url(:auditorium_id => @auditorium.id ) %></h4>
<h4><a href="/auditoriums">Home Page</a></h4>
