<h1>Auditorium <%= @auditorium.id %></h1>
<h2>Capacity: <%= @auditorium.capacity %></h2>
<h2>Film Playing: <%= @auditorium.film_playing %></h2>

<p>Showings: <p>
  <% @auditorium.showings.each do |showing| %>
  <p><%= showing.time.strftime("%I:%M:%S %p") if showing.time%> <p>
  <p><%= showing.status %> seats left <p>
  <%= link_to "Purchase Ticket", new_showing_order_url(:showing_id => showing.id) if showing.available?  %>
<% end %>

<h4><a href="/">Home Page</a></h4>
