<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Main Page</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#films">Films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#auditoriums">Auditoriums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#links">Links</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header -->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Misty Mountains Movie Theater</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">A Place for Movies</h2>
      <a href="#films" class="btn btn-primary js-scroll-trigger">Get Started</a>
    </div>
  </div>
</header>

<!-- Film Section -->
<section id="films" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="text-white mb-4"><a href="/films">Films Showing</a></h1>
      </div>
    </div>
    <div class="row">
      <% @films.each do |film| %>
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card-body text-center">
            <hr class="my-4">
            <h2 class="text-white text-uppercase m-0"><%= film.name %></h2>
            <hr class="my-4">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Auditoriums Section -->
<section id="auditoriums" class="projects-section bg-light">
  <div class="container">

    <!-- Right Auditoriums -->
  <% @auditoriums.each do |auditorium| %>
    <% if auditorium.id%2 == 1 %>
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src=" http://blackrockdigital.github.io/startbootstrap-grayscale/img/demo-image-01.jpg" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h2 class="text-white">Auditorium <%= auditorium.id %></h2>
                <h4 class="text-white"><%= auditorium.film_playing %></h4>
                <p class="mb-0 text-white-50">
                  <% auditorium.showings.order(:time).each do |showing| %>
                    <%= link_to "#{showing.time.strftime("%I:%M %p")}", new_showing_order_url(:showing_id => showing.id) if showing.available?  %>
                  <% end %>
                <p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    <% else %>
    <!-- Left Auditoriums -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src=" http://blackrockdigital.github.io/startbootstrap-grayscale/img/demo-image-02.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h2 class="text-white">Auditorium <%= auditorium.id %></h2>
                <h4 class="text-white"><%= auditorium.film_playing %></h4>
                <p class="mb-0 text-white-50">
                  <% auditorium.showings.order(:time).each do |showing| %>
                    <%= link_to "#{showing.time.strftime("%I:%M %p")}", new_showing_order_url(:showing_id => showing.id) if showing.available?  %>
                  <% end %>
                <p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>
</section>

<!-- Links Section -->
<section id="links" class="contact-section bg-black">
  <div class="container">

    <div class="row justify-content-center">

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <hr class="my-4">
            <h2 class="text-uppercase m-0"><a href="/orders">Orders</a></h2>
            <hr class="my-4">
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <hr class="my-4">
            <h2 class="text-uppercase m-0"><a href="/manage">Manage</a></h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>